<!-- Buy tickets -->
<div class="buytickets  widget-content" id="pricing">
	<div class="buytickets_bg" data-stellar-background-ratio="0.2" style="background-image: url('/images/bg_buytikets.png');"></div>
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="center-content">
				<h2><%= lang.buy_tickets.title %></h2>
				<div class="">
					<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
						<li>
							<!-- Early bird box -->
							<div class="buytickets_item">
								<div class="title">
									<%= lang.buy_tickets.early_bird.text %>
								</div>
								<div class="price">	<%= lang.buy_tickets.early_bird.price %></div>
								<div class="description">
									<%= lang.buy_tickets.early_bird.deadline %>
							 </div>
								<div class="btn_buy_ticket">
									<a class="btn-default" href="<%= lang.buy_tickets.url %>"><%= lang.buy_tickets.early_bird.button %></a>
								</div>
								<div class="promo">
									<div class="save"><%= lang.buy_tickets.early_bird.promo %></div>
								</div>
							</div>
						</li>

						<!-- Standard box -->
						<li>
							<div class="buytickets_item">
								<div class="title">
									<%= lang.buy_tickets.standard.text %>
								</div>
								<div class="price"><%= lang.buy_tickets.standard.price %></div>
								<div class="description">
									<%- render(lang.buy_tickets.standard.deadline) %>
								</div>
								<div class="btn_buy_ticket">
									<a class="btn-default" href="<%= lang.buy_tickets.url %>"><%= lang.buy_tickets.standard.button %></a>
								</div>
								<div class="promo">
									<div class="new"><%= lang.buy_tickets.standard.promo %></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
