
<!-- Contact us / Map -->
<div class=" widget-content" id="location">
<div class="row center-content">
<div class="columns small-12 medium-12 large-12">
<h2><%= lang.contacts.location %></h2>
</div>
</div>
</div>
<div class="maps">
	<div id="js-map"></div>
	<div class="map-location">
		<h2><%= lang.contacts.location %></h2>
		<ul itemscope="" itemtype="http://schema.org/PostalAddress">
			<li class="title"><%= lang.contacts.address.title %></li>
			<li itemprop="address"><%- render(lang.contacts.address.details) %> </li>
			<li class="title"><%= lang.contacts.email.title %></li>
			<li itemprop="email"><%= lang.contacts.email.details %></li>
			<li class="title"><%= lang.contacts.phone.title %></li>
			<li itemprop="phone"><%= lang.contacts.phone.english %></li>
			<li itemprop="phone"><%= lang.contacts.phone.french %></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
var wplMap = {Lat : 47.214071, Long:-1.567878};
var wplMarker = {Lat : 47.214071, Long: -1.567878};
</script>

<%- partial('_common/visit_nantes', { lang: lang }) %>
