<!-- Mailing List -->
<div id="RegisterModal" class="reveal-modal small" data-reveal>
	<h3><%= lang.mailing_list.okmsg %></h3>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="ErrorModal" class="reveal-modal small" data-reveal>
	<h3><%= lang.mailing_list.komsg %></h3>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div class="mailinglist widget-content">
	<div class="mailinglist_bg" data-stellar-background-ratio="0.2" style="background-image: url('/images/bg_mailinglist.jpg');"></div>
	<div class="row">
		<div class="columns small-12 medium-12 large-4 envelope">
			<div class="join">
				<%= lang.mailing_list.join %>
			</div>
		</div>
		<div class="columns small-12 medium-12 large-8">
			<form id="idnewsletter">
				<input type="text" name="entry.1586445777" id="name" placeholder="<%= lang.mailing_list.name %>">
				<input type="email" name="entry.1306918449" id="email" placeholder="<%= lang.mailing_list.email %>">
				<button class="btn-default" onclick="postToGoogleForm()"><%= lang.mailing_list.submit %></button>
				<script>

				function postToGoogleForm() {
					var name = $('#name').val();
					var email = $('#email').val();

					if(name == null || name == "" || email == null || email == "") {
							  $('#ErrorModal').foundation('reveal', 'open');
					} else {
						$.ajax({
			        url: 'https://cors.5apps.com/?uri=https://docs.google.com/forms/d/1UtaASKQICsUli1TQcQgPegrFtTsdQusB-8jx4cgnwIA/formResponse',
			        type: 'post',
			        data: $('#idnewsletter').serialize(),
			        success: function(data) {
			                $('#RegisterModal').foundation('reveal', 'open');
			        }
			    	});
					}
					event.preventDefault();

				}


				</script>
			</form>


		</div>
	</div>
</div>
