<div class="main_menu navbar-fixed">
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="mb">
				<div class="navmobile"><a href=""></a></div>
				<ul class="nav-menu">
					<li class="menuItem"><a href="<%= menu_path %>/"><%= lang.menu.home %></a></li>
					<li class="menuItem"><a href="<%= menu_path %>/speakers"><%= lang.menu.speakers %></a></li>
					<li class="menuItem"><a href="<%= menu_path %>/schedule-details"><%= lang.menu.schedule %></a></li>
					<li class="menuItem"><a href="<%= menu_path %>/location"><%= lang.menu.location %></a></li>
					<li class="menuItem"><a href="<%= menu_path %>/pricing"><%= lang.menu.pricing %></a></li>
					<li class="language"><a href="<%= lang.menu.language_link %><%= current_path %>"><%= lang.menu.language %></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
