<!-- Schedule -->
<div class="schedule widget-content" id="schedule">
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="center-content">
				<h2><%= lang.schedule.title %></h2>
				<h4 style="text-align:left"><%= lang.schedule.details %></h4>
			</div>
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
					<!-- First day -->
					<li>
						<div class="schedule-body">
							<div class="event-header">
								<div class="day">
									<%= lang.schedule.part1.title %>
								</div>
								<div class="title">

								</div>
							</div>
							<div class="content">
								<dl class="accordion" data-accordion>

									<dd class="accordion-navigation">
									<a href="#panel1">
										<div class="event-title large-8"> <%= lang.schedule.part1.step1_title %></div>
									</a>
									<div id="panel1" class="content">
										<%= lang.schedule.part1.step1_details %>
									</div>
									</dd>

									<dd class="accordion-navigation">
									<a href="#panel2">
										<div class="event-title large-8"> <%= lang.schedule.part1.step2_title %></div>
									</a>
									<div id="panel2" class="content">
										<%= lang.schedule.part1.step2_details %>
									</div>
									</dd>

									<dd class="accordion-navigation">
									<a href="#panel3">
										<div class="event-title large-8"> <%= lang.schedule.part1.step3_title %></div>
									</a>
									<div id="panel3" class="content">
										<%= lang.schedule.part1.step3_details %>
									</div>
									</dd>

									<dd class="accordion-navigation">
									<a href="#panel4">
										<div class="event-title large-8"> <%= lang.schedule.part1.step4_title %></div>
									</a>
									<div id="panel4" class="content">
										<%= lang.schedule.part1.step4_details %>
									</div>
									</dd>

									<dd class="accordion-navigation">
									<a href="#panel5">
										<div class="event-title large-8"> <%= lang.schedule.part1.step5_title %></div>
									</a>
									<div id="panel5" class="content">
										<%= lang.schedule.part1.step5_details %>
									</div>
									</dd>

									<dd class="accordion-navigation">
									<a href="#panel6">
										<div class="event-title large-8"> <%= lang.schedule.part1.step6_title %></div>
									</a>
									<div id="panel6" class="content">
										<%= lang.schedule.part1.step6_details %>
									</div>
									</dd>

									<dd class="accordion-navigation">
									<a href="#panel7">
										<div class="event-title large-8"> <%= lang.schedule.part1.step7_title %></div>
									</a>
									<div id="panel7" class="content">
										<%= lang.schedule.part1.step7_details %>
									</div>
									</dd>

									<dd class="accordion-navigation">
									<a href="#panel8">
										<div class="event-title large-8"> <%= lang.schedule.part1.step8_title %></div>
									</a>
									<div id="panel8" class="content">
										<%= lang.schedule.part1.step8_details %>
									</div>
									</dd>

								</dl>
							</div>
						</div>
					</li>

					<!-- Second day -->
					<li>
						<div class="schedule-body">
							<div class="event-header">
								<div class="day">
									<%= lang.schedule.part2.title %>
								</div>
								<div class="title">
								</div>
							</div>
							<div class="content">
								<dl class="accordion" data-accordion>
									<dd class="accordion-navigation">
									<a href="#panel9">
										<div class="event-title large-8"> <%= lang.schedule.part2.step1_title %> </div>
									</a>
									<div id="panel9" class="content">
										<%= lang.schedule.part2.step1_details %>
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel10">
										<div class="event-title large-8">  <%= lang.schedule.part2.step2_title %>   </div>
									</a>
									<div id="panel10" class="content">
										<%= lang.schedule.part2.step2_details %>
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel11">
										<div class="event-title large-8"><%= lang.schedule.part2.step3_title %></div>
									</a>
									<div id="panel11" class="content">
										<%= lang.schedule.part2.step3_details %>
									</div>
									</dd>
								</dl>
							</div>
						</div>
					</li>


				</ul>

			</div>
		</div>
	</div>
</div>
