<!-- Schedule -->
<div class="schedule widget-content" id="schedule">
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="center-content">
				<h2><%= lang.schedule.title %></h2>
				<h4 style="text-align:left"><%= lang.schedule.details %></h4>
			</div>
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
					<!-- First day -->
					<li>
						<div class="schedule-body">
							<div class="event-header">
								<div class="day">
									<%= lang.schedule.part1.title %>
								</div>
								<div class="title">

								</div>
							</div>
							<div class="content">
									<ul class="event-title large-8" style="list-style-type:none">
										<li ><%= lang.schedule.part1.step1_title %></li>
										<li><%= lang.schedule.part1.step2_title %></li>
										<li><%= lang.schedule.part1.step3_title %></li>
										<li><%= lang.schedule.part1.step4_title %></li>
										<li><%= lang.schedule.part1.step5_title %></li>
										<li><%= lang.schedule.part1.step6_title %></li>
										<li><%= lang.schedule.part1.step7_title %></li>
										<li><%= lang.schedule.part1.step8_title %></li>
									</ul>
							</div>
						</div>
					</li>

					<!-- Second day -->
					<li>
						<div class="schedule-body">
							<div class="event-header">
								<div class="day">
									<%= lang.schedule.part2.title %>
								</div>
								<div class="title">
								</div>
							</div>
							<div class="content">
								<ul class="event-title large-8" style="list-style-type:none">
									<li><%= lang.schedule.part2.step1_title %></li>
									<li><%= lang.schedule.part2.step2_title %></li>
									<li><%= lang.schedule.part2.step3_title %></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>

			</div>
		</div>
		<div class="row">
<div class="columns small-12 medium-12 large-12 center-content">
	<form action="<%= lang.schedule.see_details_action %>" method="get">
			<button class="btn-default" ><%= lang.schedule.see_details  %></button>
	</form>
</div>
		</div>
	</div>
</div>
