<div class=" widget-content" id="visit">
		<div class="row center-content">
	<div class="columns small-12 medium-12 large-12">
<h2><%= lang.visit_nantes.location_name %></h2>
<h4 style="text-align:left"><%= lang.visit_nantes.location_details %>
</h4>
</div>
</div>
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="columns small-12 medium-6 large-6">

		<img src="/images/location/rosiere-1.jpg" width="700" height="240" alt="Img">
<hr>
		<img src="/images/location/rosiere-2.jpg" width="700" height="240" alt="Img">
		 </div>
	<div class="columns small-12 medium-6 large-6">

				<img src="/images/location/rosiere-3.jpg" width="700" height="240" alt="Img">
		<hr>
				<img src="/images/location/rosiere-4.jpg" width="700" height="240" alt="Img">
			</div>
		</div>

</div>
	</div>

<div class=" widget-content" data-stellar-background-ratio="0.2" style="background-color:black; background-image: url('/images/bg_buytikets.png');">
		<div class="row center-content">
	<div class="columns small-12 medium-12 large-12">
<h2  style="color:#cccccc"><%=lang.visit_nantes.nantes %></h2>
<h4 style="text-align:left ;color:#cccccc ">	<%=lang.visit_nantes.nantes_details %></h4>
</div>
</div>
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="columns small-12 medium-6 large-6">

		<img src="/images/location/nantes-1.jpg" width="700" height="240" alt="Img">
 </div>
	<div class="columns small-12 medium-6 large-6">

				<img src="/images/location/nantes-2.jpg" width="700" height="240" alt="Img">
	</div>
		</div>

</div>


			</div>

			<div class=" widget-content" >
					<div class="row center-content">
				<div class="columns small-12 medium-12 large-12">
			<h2><%=lang.visit_nantes.loire_atlantique %></h2>
			<h4 style="text-align:left"><%=lang.visit_nantes.loire_atlantique_details %></h4>
			</div>
			</div>
				<div class="row">
					<div class="columns small-12 medium-12 large-12">
						<div class="columns small-12 medium-6 large-6">

					<img src="/images/location/loire-1.jpg" width="700" height="240" alt="Img">
			 </div>
				<div class="columns small-12 medium-6 large-6">

							<img src="/images/location/loire-2.jpg" width="700" height="240" alt="Img">
				</div>
					</div>

			</div>


						</div>
