<!doctype html>
<html dir="ltr" lang="en-US">
<%- partial('_common/html_head') %>
<body>
  <%- partial('_common/menu', { lang: eval(page.lang+'()') }) %>
  <%- partial('_common/banner_light', { lang: eval(page.lang+'()') }) %>
  <div class="single_post">
  	<div class="row">
  		<div class="columns small-12 medium-12 large-12">
  			<article>
          <br>
  				<h1 class="entry-title"><%= page.title %></h1>
  				<div class="entry-excerpt">
  					<p>
  					    <!-- A exploiter si nécessaire -->
          	</p>
  				</div>
  				<div class="entry-content">
              <%- page.content %>
  				</div>

  			</article>

  		</div>
    </div>
</div>
<%- partial('_common/buy_tickets', { lang: eval(page.lang+'()') }) %>
<%- partial('_common/contacts', { lang: eval(page.lang+'()') }) %>
<%- partial('_common/footer', { lang: eval(page.lang+'()') }) %>
  <%- partial('_common/scripts_footer') %>
</body>
